@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

body {
  width: 697px;
  height: 1264px;
  background: #ffffff;
  font-family: "Ropa Sans";
  font-weight: normal;
  margin: auto;
}
.container {
  margin: auto;
  display: flex;
  width: 697px;
  height: 49px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding-left: 44px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  color: #777777;
  margin-right: 500px;
}
.subtitle {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: #aaaaaa;
  margin-left: 10px;
}
main {
  padding-left: 45px;
  padding-right: 45px;
}
.mainImg {
  width: 608px;
  height: 259px;
  margin-top: 30px;
  position: relative;
}
.rightButton {
  position: absolute;
  text-align: center;
  width: 30px;
  margin-top: -145px;
  margin-left: 565px;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  color: white;
  text-align: center;
  width: 10px;
  margin-top: -140px;
  margin-left: 575px;
  cursor: pointer;
}
.leftButton {
  position: absolute;
  text-align: center;
  width: 30px;
  margin-top: -145px;
  margin-left: 15px;
  cursor: pointer;
}
.leftArrow {
  position: absolute;
  color: white;
  text-align: center;
  width: 10px;
  margin-top: -140px;
  margin-left: 25px;
  cursor: pointer;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.boxesCard {
  overflow-wrap: break-word;
  background-color: #eeeeee;
  text-align: center;
  width: 275px;
}
.imgCaixas {
  width: 100%;
}
.boxTitle {
  display: flex;
  justify-content: space-between;
}
.textPrice {
  margin-left: 10px;
  color: #888888;
  font-size: 25px;
}
.textNew {
  background-color: #51d275;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  font-size: 25px;
}
.boxDescription {
  text-align: justify;
  padding: 3%;
  margin-top: -10px;
}

.textSale {
  background-color: #dc9730;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  font-size: 25px;
}

.title-aside {
  text-align: center;
  color: #888888;
  margin-top: 50px;
}
.container-aside {
  display: flex;
  width: 90%;
  opacity: 0.6;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.text-card {
  display: flex;
  position: absolute;
  color: #ffffff;
  margin-left: 260px;
  font-size: 25px;
  margin-top: 25px;
}

.container-footer {
  display: flex;
  background-color: #333333;
  position: absolute;
  width: 697px;
  height: 243px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.footer-content {
  display: flex;
  width: 252px;
  height: 163px;
  padding-left: 44px;
}
.contacts {
  width: 175px;
  height: 95px;
  font-size: 12px;
  padding-right: 45px;
}
.medias {
  font-size: 12px;
}
.img-medias {
  margin-right: 10%;
}
